[Unit]
Description=Dead Man's Switch (lock screen timeout)

[Service]
ExecStart=/usr/libexec/qubes/qubes-app-dms-timeout.sh

[Install]
WantedBy=default.target
